{% extends "index.html" %}
{% block content %}

<div id="map"></div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>

<!-- マーカー色変更 -->
<script src="{{ url_for('static', filename='js/leaflet.sprite.js') }}"></script>

<!-- 現在地表示 -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.usermarker.css') }}" />
<script src="{{ url_for('static', filename='js/leaflet.usermarker.js') }}"></script>

<script>
    L.Icon.Default.imagePath = 'https://unpkg.com/leaflet@1.3.1/dist/images/';

    // // markers1
    {% for marker in markers1 %}
    L.marker([{{ marker['lat'] }}, {{ marker['lon'] }}], { icon: L.spriteIcon('green') }).addTo(map)
    .bindPopup("<p>{{ marker['name'] }}</p><p>評価</p>").openPopup();
    {% endfor %}

    // markers2
    {% for marker in markers2 %}
    L.marker([{{ marker['lat'] }}, {{ marker['lon'] }}], { icon: L.spriteIcon('orange') }).addTo(map)
    .bindPopup(
        "<p>{{ marker['name'] }}</p><p>評価</p><span class='star-rating'><input type='radio' name='rating' value='1'><i></i><input type='radio' name='rating' value='2'><i></i><input type='radio' name='rating' value='3'><i></i><input type='radio' name='rating' value='4'><i></i><input type='radio' name='rating' value='5'><i></i></span><strong class='choice'>感染対策の評価をしてください</strong>      "
    ).openPopup();
    {% endfor %}


    // 現在地
    var options = {
        pulsing: true
        , accuracy: 100 // meters
        , smallIcon: true
    };
    L.userMarker([35.6809591,139.7673068], options).addTo(map).bindPopup("現在地");

    var marker;
    map.on("locationfound", function (location) {
        if (!marker) {
            marker = L.userMarker(location.latlng).addTo(map);
        }
        marker.setLatLng(location.latlng);
        marker.setPulsing(true);
    });

    map.on('locationerror', function (e) {
        alert('現在地が取得できませんでした。');
    });

    map.locate({
        watch: false,
        locate: true,
        setView: false,
        enableHighAccuracy: true
    });


</script>

{% endblock %}